<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous"/>


    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/script.js' %}"></script>

    <title>Ninja Gold Django</title>
</head>
<body>
<h1>Ninja Gold</h1>

<h5>Your Gold: {{ request.session.gold }}</h5>
<div class="d-inline-block col-xl-3">
    <h4>Farm</h4>
    <p>Earns 10-20 gold</p>
    <form action="farm/" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Farm">
    </form>
</div>

<div class="d-inline-block col-xl-3">
    <h4>Cave</h4>
    <p>Earns 5-10 gold</p>
    <form action="cave/" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Cave">
    </form>
</div>

<div class="d-inline-block col-xl-3">
    <h4>House</h4>
    <p>Earns 2-5 gold</p>
    <form action="house/" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="House">
    </form>
</div>

<div class="d-inline-block col-xl-2">
    <h4>Casino</h4>
    <p>Earns/Loses 0-50 gold</p>
    <form action="casino/" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Casino">
    </form>
</div>


</body>
</html>