*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%)
}

.container {
    width: 26rem;
}

.form-group {
    margin: 1rem 0;
}

h1 {
    color: rgb(254,192,8);
    text-align: center;
}

form {
    padding: 1rem;
}

.form-flex {
    display: flex;
    flex-direction: column;
}

.form-control {
    border: none;
    box-shadow: 2px 1px 8px black;
    background-color: rgb(51,57,62);
}

label {
    color: white;
}

form button {
    background-color: rgb(254,192,8);
    padding: 0.5rem 2rem;
    border-radius: 8px;
}

.results-container table {
    width: 75rem;
    background-color: white;
}