<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground (Optional)</title>

    <style>
        .bluebox {
            height: 100px;
            width: 100px;
            background-color: lightblue;
            background-color: {{boxColor}};
            border: 3px solid black;
            display: inline-block;
        }


    </style>


</head>
<body>

    <div class="wrapper">
        <h3>Title</h3>

        {% if numTimes %}
            {% for x in range(0,numTimes): %}
                <div class="bluebox"></div>
            {% endfor %}
        {% endif %}






    </div></div>


</body>
</html>